class {{ class_model.class_name }}({{ lapidary.type_hint(class_model.base_type, item) }}):
{% for attr in class_model.attributes %}    {{ attr.name }} = {{ attr.annotation.field_props.default }}
{% else %}
    pass
{%- endfor -%}
